A, A:visited
{
	color : #0000B0;
	text-decoration: none;
}

A:hover, A:active
{
	color : #FF8C00;
	text-decoration: underline;
}

BODY
{
	background-color : #FFFFFF;
	color : black;
	font-family: sans-serif;
	font-size: 10px;
	margin: 0px;
	border: 0px;
}

TABLE, TR, TD
{
	font-family: sans-serif;
	font-size: 10px;
}

TR.title, TD.title
{
	height: 50px;
}

TABLE.full, TR.full, TD.full
{
	height: 100%;
	width: 100%;
}

TD.menu 
{
	font-family: sans-serif;
	font-size: 12px;
	width: 125px;
}

.titletable
{
	padding-bottom: 3px;
}

.logo
{
	background-color : #6699CC;
	color : black;
	font-family : sans-serif;
	font-size : 1px;
	padding-top : 2px;
	padding-left : 3px;
}

.title_name
{
	background-color : #6699CC;
	color : black;
	font-family : sans-serif;
	font-size : 32px;
	font-weight : bold;
}

A.title_name, A:visited.title_name
{
	background-color : #6699CC;
	color : black;
	font-family : sans-serif;
	font-size : 32px;
	font-weight : bold;
}

A:hover.title_name, A:active.title_name
{
	background-color : #6699CC;
	color : #000080;
	font-family : sans-serif;
	font-size : 32px;
	font-weight : bold;
	text-decoration : underline;
}

.company, A.company, A:visited.company
{
	background-color : #6699CC;
	color : black;
	font-family : sans-serif;
	font-size : 16px;
	font-weight : bold;
	text-decoration : none;
}

A:hover.company, A:active.company
{
	background-color : #6699CC;
	color : #000080;
	font-family : sans-serif;
	font-size : 16px;
	font-weight : bold;
	text-decoration : underline;
}

.logindata
{
	background-color : #6699CC;
	color : black;
	font-family : sans-serif;
	font-size : 10px;
	padding-bottom: 4px;
}

.loggedouttext
{
	background-color : #6699CC;
	color : #E00000;
	font-family : sans-serif;
	font-size : 10px;
}

.loggedintext
{
	background-color : #6699CC;
	color : black;
	font-family : sans-serif;
	font-size : 10px;
}

.loggedinuser
{
	background-color : #6699CC;
	color : #008000;
	font-family : sans-serif;
	font-size : 10px;
	font-weight : bold;
}

.menutable
{
	border-right: 1px solid #002000;
	border-left: 1px solid #002000;
	border-bottom: 1px solid #002000;
}

.menuhead
{
	background-color : #AEC9E4;
	color : black;
	font-family : sans-serif;
	font-size : 12px;
	font-weight : bold;
	width: 125px;
	border-top : 1px solid #002000;
	border-bottom : 1px solid #002000;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.menuitem, A.menuitem, A:visited.menuitem
{
	background-color : #F5F8FB;
	color : black;
	width: 125px;
	font-family : sans-serif;
	font-size : 12px;
	padding-left: 3px;
}

A:hover.menuitem, A:active.menuitem
{
	background-color : #F5F8FB;
	color : #FF8C00;
	width: 125px;
	font-family : sans-serif;
	font-size : 12px;
	padding-left: 3px;
}

.editmainheader
{
	background-color : #A8C0E0;
	color : black;
	font-family : sans-serif;
	font-size : 12px;
	font-weight : bold;
	padding : 0px;
}

.editheader
{
	background-color : #000088;
	color : #E0E0E0;
	font-family : sans-serif;
	font-size : 12px;
	font-weight : bold;
	padding : 1px;
	border : 2px solid white;
}

.editheaderlink, A.editheaderlink, A:visited.editheaderlink
{
	background-color : #000088;
	color : #E0E0E0;
	font-family : sans-serif;
	font-size : 12px;
	font-weight : bold;
}

.editfield0
{
	background-color : #CECECE;
	color : black;
	font-family : sans-serif;
	font-size : 12px;
	padding : 1px;
	border : 2px solid white;
}

A.editfield0, A:visited.editfield0
{
	background-color : #CECECE;
	color : black;
	font-family : sans-serif;
	font-size : 12px;
	padding : 0px;
	border : 0px;
}

.editfield1
{
	background-color : #E4E4E4;
	color : black;
	font-family : sans-serif;
	font-size : 12px;
	padding : 1px;
	border : 2px solid white;
}

A.editfield1, A:visited.editfield1
{
	background-color : #E4E4E4;
	color : black;
	font-family : sans-serif;
	font-size : 12px;
	padding : 0px;
	border : 0px;
}

.customaddlink, A.customaddlink, A:visited.customaddlink
{
	color : #FFFF00;
	font-family : sans-serif;
	font-size : 12px;
	font-weight : bold;
}

.error
{
	color : red;
}

.empty
{
	font-family : sans-serif;
	font-size : 0px;
}

